@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'proxima-black';
    src: url(../public/prox-black.otf);
}

@font-face {
    font-family: 'merri-black';
    src: url(../public/merri-black.ttf);
}

@font-face {
    font-family: 'merri';
    src: url(../public/merri.ttf);
}

.fade-to-transparent::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(249, 250, 239) 100%);
    pointer-events: none;
}